In [4]:
val data= Seq(("Java", "20000"), ("Python", "100000"), ("Scala", "3000"))

import spark.implicits._
val dfFromData1 = data.toDF()

data: Seq[(String, String)] = List((Java,20000), (Python,100000), (Scala,3000))
import spark.implicits._
dfFromData1: org.apache.spark.sql.DataFrame = [_1: string, _2: string]

In [5]:
dfFromData1.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [31]:
// 닉네임, 챔피언, K, D, A, 딜량, 획득 골드량, 분당 획득 골드량

//val schema = Seq("nickname", "champs", "kill", "death", "assist", "damage", "gold", "goldpermin")
val semiFinal_1_1 = Seq(("its", "cogmo", 12, 5, 10, 50867, 22737, 465), ("greecar", "thresh", 2, 5, 19, 5552, 11251, 230), ("boradoli", "warwick", 5, 10, 12, 13473, 13570, 278), ("mavel", "ryze", 7, 5, 16, 43774, 21728, 445), ("gor4", "lylia", 11, 6, 17, 48016, 19948, 408))
val semiFinal_1_2 = Seq(("its", "jinx", 6, 0, 5, 15510, 11005, 478), ("greencar", "lulu", 0, 1, 13, 4670, 6525, 284), ("boradoli", "noct",  4, 0, 12, 11366, 9471, 512), ("mavel", "victor", 9, 0, 7, 23951, 11910, 518), ("gor4", "shen", 3, 0, 11, 8407, 8053, 350))
val semiFinal_1_3 = Seq(("its", "jinx", 6, 1, 7, 26262, 15334, 468), ("greencar", "nami", 3, 0, 10, 7462, 9856, 301), ("boradoli", "noct",  1, 2, 12, 7158, 11768, 359), ("mavel", "akali", 10, 1, 2, 19815, 13632, 416), ("gor4", "mode", 2, 3, 3, 14519, 11990, 366))

val paldo_raw = semiFinal_1_1.toDF().union(semiFinal_1_2.toDF()).union(semiFinal_1_3.toDF())

semiFinal_1_1: Seq[(String, String, Int, Int, Int, Int, Int, Int)] = List((its,cogmo,12,5,10,50867,22737,465), (greecar,thresh,2,5,19,5552,11251,230), (boradoli,warwick,5,10,12,13473,13570,278), (mavel,ryze,7,5,16,43774,21728,445), (gor4,lylia,11,6,17,48016,19948,408))
semiFinal_1_2: Seq[(String, String, Int, Int, Int, Int, Int, Int)] = List((its,jinx,6,0,5,15510,11005,478), (greencar,lulu,0,1,13,4670,6525,284), (boradoli,noct,4,0,12,11366,9471,512), (mavel,victor,9,0,7,23951,11910,518), (gor4,shen,3,0,11,8407,8053,350))
semiFinal_1_3: Seq[(String, String, Int, Int, Int, Int, Int, Int)] = List((its,jinx,6,1,7,26262,15334,468), (greencar,nami,3,0,10,7462,9856,301), (boradoli,noct,1,2,12,7158,11768,359), (mavel,akali,10,1,2,19815,13632,416), (gor4,mode,2,3,3,14519,11990,366))
paldo_raw: o...

In [32]:
paldo_raw.show()

+--------+-------+---+---+---+-----+-----+---+
|      _1|     _2| _3| _4| _5|   _6|   _7| _8|
+--------+-------+---+---+---+-----+-----+---+
|     its|  cogmo| 12|  5| 10|50867|22737|465|
| greecar| thresh|  2|  5| 19| 5552|11251|230|
|boradoli|warwick|  5| 10| 12|13473|13570|278|
|   mavel|   ryze|  7|  5| 16|43774|21728|445|
|    gor4|  lylia| 11|  6| 17|48016|19948|408|
|     its|   jinx|  6|  0|  5|15510|11005|478|
|greencar|   lulu|  0|  1| 13| 4670| 6525|284|
|boradoli|   noct|  4|  0| 12|11366| 9471|512|
|   mavel| victor|  9|  0|  7|23951|11910|518|
|    gor4|   shen|  3|  0| 11| 8407| 8053|350|
|     its|   jinx|  6|  1|  7|26262|15334|468|
|greencar|   nami|  3|  0| 10| 7462| 9856|301|
|boradoli|   noct|  1|  2| 12| 7158|11768|359|
|   mavel|  akali| 10|  1|  2|19815|13632|416|
|    gor4|   mode|  2|  3|  3|14519|11990|366|
+--------+-------+---+---+---+-----+-----+---+

In [41]:
val semiFinal_2_1 = Seq(("ces", "wukong", 4, 3, 13, 19633, 12422, 368), ("immo", "rakan", 3, 5, 20, 9018, 9320, 276), ("ta", "ezreal", 15, 0, 7, 47529, 16784, 497), ("goggum", "malphite", 6, 2, 14, 25227, 12374, 366), ("martis", "oriana", 4, 5, 20, 25595, 13008, 385))
val semiFinal_2_2 = Seq(("ces", "graves", 3, 5, 14, 17756, 14116, 436), ("immo", "lulu", 1, 4, 23, 4199, 8756, 270), ("ta", "swain", 8, 4, 7, 18937, 12335, 381), ("goggum", "maokai", 2, 4, 16, 17711, 10255, 317), ("martis", "lucian", 15, 5, 7, 35278, 17106, 528))

val illuminati_raw = semiFinal_2_1.toDF().union(semiFinal_2_2.toDF())

semiFinal_2_1: Seq[(String, String, Int, Int, Int, Int, Int, Int)] = List((ces,wukong,4,3,13,19633,12422,368), (immo,rakan,3,5,20,9018,9320,276), (ta,ezreal,15,0,7,47529,16784,497), (goggum,malphite,6,2,14,25227,12374,366), (martis,oriana,4,5,20,25595,13008,385))
semiFinal_2_2: Seq[(String, String, Int, Int, Int, Int, Int, Int)] = List((ces,graves,3,5,14,17756,14116,436), (immo,lulu,1,4,23,4199,8756,270), (ta,swain,8,4,7,18937,12335,381), (goggum,maokai,2,4,16,17711,10255,317), (martis,lucian,15,5,7,35278,17106,528))
illuminati_raw: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [_1: string, _2: string ... 6 more fields]

In [42]:
illuminati_raw.show()

+------+--------+---+---+---+-----+-----+---+
|    _1|      _2| _3| _4| _5|   _6|   _7| _8|
+------+--------+---+---+---+-----+-----+---+
|   ces|  wukong|  4|  3| 13|19633|12422|368|
|  immo|   rakan|  3|  5| 20| 9018| 9320|276|
|    ta|  ezreal| 15|  0|  7|47529|16784|497|
|goggum|malphite|  6|  2| 14|25227|12374|366|
|martis|  oriana|  4|  5| 20|25595|13008|385|
|   ces|  graves|  3|  5| 14|17756|14116|436|
|  immo|    lulu|  1|  4| 23| 4199| 8756|270|
|    ta|   swain|  8|  4|  7|18937|12335|381|
|goggum|  maokai|  2|  4| 16|17711|10255|317|
|martis|  lucian| 15|  5|  7|35278|17106|528|
+------+--------+---+---+---+-----+-----+---+

In [98]:
import org.apache.spark.sql.DataFrame
import org.apache.spark.sql.types._

def getKDA(rawData: DataFrame): DataFrame = {
    rawData.groupBy("_1").sum("_3", "_4", "_5")
}

def Deal(rawData: DataFrame, matches: Int): DataFrame = {
    val temp = rawData.groupBy("_1").sum("_6")
    temp.withColumn("deal average", $"sum(_6)" / lit(matches))
}

def GoldPerMin(rawData: DataFrame, matches: Int): DataFrame = {
    val temp = rawData.groupBy("_1").sum("_8")
    temp.withColumn("gold per min", $"sum(_8)" / lit(matches))
}

import org.apache.spark.sql.DataFrame
import org.apache.spark.sql.types._
getKDA: (rawData: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame
Deal: (rawData: org.apache.spark.sql.DataFrame, matches: Int)org.apache.spark.sql.DataFrame
GoldPerMin: (rawData: org.apache.spark.sql.DataFrame, matches: Int)org.apache.spark.sql.DataFrame

In [86]:
getKDA(paldo_raw).show()

+--------+-------+-------+-------+
|      _1|sum(_3)|sum(_4)|sum(_5)|
+--------+-------+-------+-------+
|     its|     24|      6|     22|
| greecar|      2|      5|     19|
|boradoli|     10|     12|     36|
|   mavel|     26|      6|     25|
|    gor4|     16|      9|     31|
|greencar|      3|      1|     23|
+--------+-------+-------+-------+

In [60]:
getKDA(illuminati_raw).show()

+------+-------+-------+-------+
|    _1|sum(_3)|sum(_4)|sum(_5)|
+------+-------+-------+-------+
|   ces|      7|      8|     27|
|  immo|      4|      9|     43|
|    ta|     23|      4|     14|
|goggum|      8|      6|     30|
|martis|     19|     10|     27|
+------+-------+-------+-------+

In [99]:
Deal(paldo_raw, 3).show()

+--------+-------+------------------+
|      _1|sum(_6)|      deal average|
+--------+-------+------------------+
|     its|  92639|30879.666666666668|
| greecar|   5552|1850.6666666666667|
|boradoli|  31997|10665.666666666666|
|   mavel|  87540|           29180.0|
|    gor4|  70942|23647.333333333332|
|greencar|  12132|            4044.0|
+--------+-------+------------------+

In [100]:
Deal(illuminati_raw, 2).show()

+------+-------+------------+
|    _1|sum(_6)|deal average|
+------+-------+------------+
|   ces|  37389|     18694.5|
|  immo|  13217|      6608.5|
|    ta|  66466|     33233.0|
|goggum|  42938|     21469.0|
|martis|  60873|     30436.5|
+------+-------+------------+

In [101]:
GoldPerMin(paldo_raw, 3).show()

+--------+-------+-----------------+
|      _1|sum(_8)|     gold per min|
+--------+-------+-----------------+
|     its|   1411|470.3333333333333|
| greecar|    230|76.66666666666667|
|boradoli|   1149|            383.0|
|   mavel|   1379|459.6666666666667|
|    gor4|   1124|374.6666666666667|
|greencar|    585|            195.0|
+--------+-------+-----------------+

In [102]:
GoldPerMin(illuminati_raw, 2).show()

+------+-------+------------+
|    _1|sum(_8)|gold per min|
+------+-------+------------+
|   ces|    804|       402.0|
|  immo|    546|       273.0|
|    ta|    878|       439.0|
|goggum|    683|       341.5|
|martis|    913|       456.5|
+------+-------+------------+