In [2]:
val df = spark.range(500).toDF("number")
df.select(df.col("number") + 10).show()

+-------------+
|(number + 10)|
+-------------+
|           10|
|           11|
|           12|
|           13|
|           14|
|           15|
|           16|
|           17|
|           18|
|           19|
|           20|
|           21|
|           22|
|           23|
|           24|
|           25|
|           26|
|           27|
|           28|
|           29|
+-------------+
only showing top 20 rows

df: org.apache.spark.sql.DataFrame = [number: bigint]

In [5]:
spark.range(2).toDF().collect()

res4: Array[org.apache.spark.sql.Row] = Array([0], [1])

In [7]:
import org.apache.spark.sql.types._

import org.apache.spark.sql.types._

## Chapter 5

In [9]:
val df = spark.read.format("json").load("./flight-data/json/2015-summary.json")

df: org.apache.spark.sql.DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [10]:
spark.read.format("json").load("./flight-data/json/2015-summary.json").schema

res2: org.apache.spark.sql.types.StructType = StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,LongType,true))

스키마는 여러 개의 StructField 타입 필드로 구성된 StructType 객체입니다.
스파크는 런타임에 데이터 타입이 스키마 데이터 타입과 일치하지 않으면 오류를 발생시킵니다 (?)

In [12]:
import org.apache.spark.sql.types._
//import org.apache.spark.sql.Metadata

val myManualSchema = StructType(Array(
    StructField("DEST_COUNTRY_NAME", StringType, true),
    StructField("ORIGIN_COUNTRY_NAME", StringType, true),
    StructField("count", LongType, false, Metadata.fromJson("{\"hello\": \"world\"}"))))

val df = spark.read.format("json").schema(myManualSchema).load("./flight-data/json/2015-summary.json")

import org.apache.spark.sql.types._
myManualSchema: org.apache.spark.sql.types.StructType = StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,LongType,false))
df: org.apache.spark.sql.DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [13]:
df.show(false)

+------------------------+-------------------+-----+
|DEST_COUNTRY_NAME       |ORIGIN_COUNTRY_NAME|count|
+------------------------+-------------------+-----+
|United States           |Romania            |15   |
|United States           |Croatia            |1    |
|United States           |Ireland            |344  |
|Egypt                   |United States      |15   |
|United States           |India              |62   |
|United States           |Singapore          |1    |
|United States           |Grenada            |62   |
|Costa Rica              |United States      |588  |
|Senegal                 |United States      |40   |
|Moldova                 |United States      |1    |
|United States           |Sint Maarten       |325  |
|United States           |Marshall Islands   |39   |
|Guyana                  |United States      |64   |
|Malta                   |United States      |1    |
|Anguilla                |United States      |41   |
|Bolivia                 |United States      |30   |
|United States           |Paraguay           |6    |
|Algeria                 |United States      |4    |
|Turks and Caicos Islands|United States      |230  |
|United States           |Gibraltar          |1    |
+------------------------+-------------------+-----+
only showing top 20 rows

In [20]:
import org.apache.spark.sql.functions.{col, column}

col("myCol")
column("myColumn")

import org.apache.spark.sql.functions.{col, column}
res9: org.apache.spark.sql.Column = myColumn

In [ ]:
컬럼은 컬럼명을 저장된 정보와 비교하기 전 미확인 상태로 남는다

추가 팁 : 스칼라는 심벌을 사용해 특정 식별자를 참조할 때 사용
$"myColumn" `myColumn 같은 의미이다.

In [24]:
import org.apache.spark.sql.functions.expr

expr("myCol")
expr("(myCol + 5) + 200")

import org.apache.spark.sql.functions.expr
res13: org.apache.spark.sql.Column = ((myCol + 5) + 200)

In [29]:
import org.apache.spark.sql.Row

val myRow = Row("Hello", null, 1, false)
myRow(0)

//explicit 하게 데이터 타입 명시 필요
myRow(0).asInstanceOf[String]
myRow.getInt(2)

import org.apache.spark.sql.Row
myRow: org.apache.spark.sql.Row = [Hello,null,1,false]
res18: Int = 1

In [31]:
val df = spark.read.json("./flight-data/json/2015-summary.json")

df.createOrReplaceTempView("dfTable")

df: org.apache.spark.sql.DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

spark 은 Seq 타입에 toDF 를 사용할 수 있고 implicit 타입의 장점을 얻을 수 있다.
하지만 null과 잘 맞지 않는다.