In [1]:
val df = spark.range(500).toDF("number")

bash: syntax error near unexpected token `('

: 2